.about-me-container {
    padding: 200px;
    transition: all 200ms ease;
}
.about-me-container.dark {
    background-color: rgb(32, 31, 31);
}
.about-me-container.light {
    background-color: #f8f8f8;
    color: black;
}

.about-me-text {
    width: 70%;
    max-width: 700px;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

.about-me-text h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 20px;
}

.about-me-text p {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .about-me-container {
        padding: 100px 10px;
        text-align: center;
    }

    .about-me-text {
        width: 90%;
        text-align: center;
    }

    .about-me-text h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .about-me-text p {
        font-size: 16px;
        text-align: center;
    }
}
