.header-container {
    display: flex;
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: 20px 0px;
    gap: 0px;
    z-index: 3;
    transition: all 200ms ease;
}
.header-container.dark {
    background-color: rgba(10, 10, 10, 0.9);
}
.header-container.light {
    background-color: #f8f6f4f5;
    color: black;
}

.header-welcome {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-style: italic;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 8px;
    font-size: 40px;
    padding-left: 0px;
    transition: all 200ms ease;
    z-index: 1;
    cursor: pointer;
}
.header-welcome.dark {
    color: #fbf5f3;
}
.header-welcome.light {
    color: black;
}

.menu-button {
    position: absolute;
    top: -999px;
    z-index: -2;
}

.header-navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-button-mobile {
    display: none;
}
.navbar-button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    margin: 10px;
    padding: 12px 10px;
    text-decoration: none;
    color: #fff;
    transition: all 100ms ease;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 500;
    z-index: 1;
}
.navbar-button.dark:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 1);
    color: black;
}
.navbar-button.light:hover {
    transform: scale(1.1);
    background-color: #c4dfdf;
}
.navbar-button.dark {
    color: white;
}
.navbar-button.light {
    color: black;
}

.dialog {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
}
.dialog.dark {
    background-color: rgba(20, 20, 20, 1);
    color: white;
}
.dialog.light {
    background-color: #f8f6f4;
    color: black;
}

.dialog-button {
    margin-top: -10px;
    padding: 10px 20px;
    border: 2px solid #6d6d6d;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: all 100ms ease;
    text-decoration: none;
}
.dialog-button.dark {
    color: white;
}
.dialog-button.light {
    color: black;
}
.dialog-button:hover {
    color: black;
    transform: scale(1.05);
}
.dialog-button.dark:hover {
    background-color: white;
    border: 2px solid white;
}
.dialog-button.light:hover {
    background-color: #d2e9e9;
    border: 2px solid black;
}

@media screen and (max-width: 1100px) {
    .header-container {
        display: flex;
        width: 100%;
        position: fixed;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 20px 0px;
        gap: 0px;
        z-index: 3;
        transition: all 200ms ease;
    }

    .header-welcome {
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-left: 50px;
    }

    .navbar-button {
        display: none;
    }

    .navbar-button-mobile {
        display: inherit;
        transform: scale(1.5);
        font-weight: 600;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        margin-left: 9cap;
    }

    .menu-button {
        display: inherit;
        top: 35%;
        right: 7%;
        z-index: 3;
        transition: all 200ms ease;
        transform: scale(1.6);
    }
    .menu-button.dark {
        color: white;
    }
    .menu-button.light {
        color: black;
    }

    .mobile-menu {
        display: grid;
        margin: 20px 0;
        width: 100%;
    }
    .mobile-menu-buttons {
        margin-top: 40px;
        width: 100%;
    }
    .mobile-menu-buttons a {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        font-weight: 600;
        text-decoration: none;
        font-size: 20px;
        color: white;
        background-color: rgba(126, 126, 126, 0);
        border-radius: 5px;
        padding: 10px 30px;
        letter-spacing: 2px;
    }

    .close-icon-button {
        text-align: right;
        margin: auto;
        margin-top: 100%;
        transition: all 100ms ease;
        background-color: rgb(255, 0, 0);
        padding: 10px 20px;
        border-radius: 20px;
        color: black;
        transform: scale(1.5);
        box-shadow: 0 0 10px black;
    }

    .MuiDrawer-root .MuiDrawer-paper {
        background-color: rgb(17, 19, 24);
    }
}
